.loading-page {
  animation: loading-animation 1s infinite;
  width: 100vw;
  height: 100vh;
  font-size: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes loading-animation {

  0% {
    color: white;
    font-size: 200px;
  }
  50% {
    color: rgb(255, 0, 0);
    font-size: 300px;
  }
  100% {
    color: rgb(0, 0, 0);
    font-size: 200px;
  }
}

.main-content {
  align-items: center;
  background-color: #969696;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
}


.dog-image {
  display: flex;
  height: 500px;
  justify-content: center;
  width: 500px;
  transition: 0.5s;
  transform: scale(0.95);
}

.dog-image img {
  object-fit: contain;
  transition: 0.5s;
  transform: scale(0.95);
}

.dog-image:hover {
  object-fit: contain;
  transition: 0.5s;
  transform: scale(0.99);
}

.button {
  align-items: center;
  background-color: rgb(84, 135, 170);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 2em;
  justify-content: center;
  text-align: center;
  width: 5em;
}

.button {

}